img{
    width: 200px;
}

ion-card{
    min-width: 160px;
    padding: .6rem;
    margin-top: 0;
}

.titulo-productos{
    margin-left: 1rem;
    font-weight: 300;
    color: var(--ion-color-primary);
}

.ion-padding-top{
    padding-top:1.5rem;
}