.producto{
    min-width: 200px;
}

ion-card-content{
    padding: 0 1.6rem 2rem 1.6rem;
}

ion-card-header{
    padding: 2rem .6rem 0 .4rem;
}

.titulo-detalle{
    font-weight: bold;
}

ion-card-title{
    font-weight: 300;
}

ion-card-subtitle{
    padding-left: .4rem;
    font-weight: 300;
}

.ion-padding-top2{
    padding-top: 2rem;
}

.borde-bottom{
    border-bottom: 1px solid #ccc;
}