<app-header></app-header>

<ion-content>


<ion-card>
    <ion-card-content>
      <ion-row class="ion-padding-top2">
        <ion-col col-1></ion-col>
        <ion-col col-10>
            <img class="producto" src="../../../assets/img/imagenes/botle.png"/>
        </ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
      <ion-card-header>
          <ion-card-title><h1>Título del producto</h1></ion-card-title>
        </ion-card-header>
      

          <ion-row>
          <ion-col class="ion-text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, natus maiores. At cumque.</ion-col>
          </ion-row>
          <ion-row class="ion-padding-top">
          <ion-card-subtitle><h3>Detalle</h3></ion-card-subtitle>
          </ion-row>
          <ion-row class="borde-bottom">
            <ion-col size="3" class="titulo-detalle">Origen</ion-col>
            <ion-col size="9" class="ion-text-justify">Valle del Maipo</ion-col>
          </ion-row>
          <ion-row class="borde-bottom">
            <ion-col size="3" class="titulo-detalle">Variedad</ion-col>
            <ion-col size="9" class="ion-text-justify">100% Cabernet Sauvignon</ion-col>
          </ion-row>
          <ion-row class="borde-bottom">
            <ion-col size="3" class="titulo-detalle">Nombre</ion-col>
            <ion-col size="9" class="ion-text-justify">1865 Cabernet Sauvignon 750 cc</ion-col>
          </ion-row>

            <ion-row class="ion-padding-top2">
            <ion-card-subtitle><h3>Notas de Cata</h3></ion-card-subtitle>
            </ion-row>
            <ion-row class="borde-bottom">
              <ion-col size="3" class="titulo-detalle">Aspecto</ion-col>
              <ion-col size="9" class="ion-text-justify">rojo cereza, con tonos violáceos.</ion-col>
            </ion-row>
            <ion-row class="borde-bottom">
              <ion-col size="3" class="titulo-detalle">Nariz</ion-col>
              <ion-col size="9" class="ion-text-justify">elegante e intenso, con fruta roja madura y notas de especias características del valle del Maipo.</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="3" class="titulo-detalle">Boca</ion-col>
              <ion-col size="9" class="ion-text-justify">vino redondo, con taninos suaves y acidez presente, con un final en boca agradable que refleja su crianza</ion-col>
            </ion-row>


            <ion-row>
              
            </ion-row>



        
    </ion-card-content>
  </ion-card>




</ion-content>


  



  


